# Python
__pycache__/
*.pyc

# HA runtime
home-assistant.log*
*.db
*.db-shm
*.db-wal

# cache
.cache/
.storage/
.backups/

# editor
.vscode/
.idea/

# docker
*.tar

# system
.DS_Store

# config
sprinkler/*.json
sprinkler/*.jsonl
sprinkler/*.yaml
configuration.yaml
custom_components/*

# www
www/*
!www/sprinklerv2/

.ha_run.lock

homematicip_local/cache
.HA_VERSION
.HA_VERSION
.gitignore
